General;\[%FileNameExtension%]: %FileSize/String3% | %Duration/String3% |
Video; %FrameRate%fps | %BitRate/String% | %Width%x%Height% | %Format% | %Format_Profile% | %BitDepth%bit |
Audio; %Channel(s)%CH
File_End;\n
