# Aliases

    # Source the aliases.sensitive
    source ~/.aliases.sensitive.sh

    #source ~/.tabletaliases

    alias ls 'ls --color'
    alias vim nvim
    alias vi vim
    alias ll 'ls -lGh'
    alias l ll
    alias lll ll
    alias pgrep pgrep -fl
    alias pkill pkill -f
    alias kill9 kill -9

    alias md mkdir -p

    alias ncdu ncdu --color dark

    alias vimrc vim ~/.vimrc
    alias aliases vim ~/.aliases
    alias del rm -rf

    alias sipy  ipython
    alias sipy3 ipython3

    alias so 'echo "Sourcing ~/.cshrc .."; source ~/.cshrc'
    alias SO so

    alias x 'echo "Running ~/.xsession .."; ~/.xsession'

    alias grep grep -iE --color=always

    alias ip ip -c --brief

    alias exe chmod a+x

    alias vv vi

    alias yum yum -y

    # Search in the apt-cache for a package
    alias search 'apt-cache search'

    # Install a package
    alias install 'sudo apt -y install \!*; rehash'

    alias install-all-drivers 'sudo ubuntu-drivers autoinstall'


    # Remove a package
    alias remove 'sudo apt -y purge \!*'

    # Remove a ppa and all associated packages.
    alias removeppa 'sudo ppa-purge \!*'

    complete remove 'p/1/c/'

    alias fwc 'echo "Directories"; find . -type d | wc; echo "Files"; find . -type f | wc'

    # Wharton Canvas
    # Token: 25~0BSCo871KwDf3wDcVX5DiezXVoVavIPHMqeFeS1ValI3kWa2n6whwMAuwk4inTJG
    #alias canvas-dl '/home/jeffjose/scripts/canvas-command-line/canvas_tools.py'

    #alias dc 'cd ~/Downloads/dcpp_share'

    alias du 'du --total'

# Navigation
    alias ack ack -i
    alias acki ack

    alias fb 'thunar . &'

    alias dl 'thunar ~/Downloads &'

    alias eog  'feh -D 5 --scale-down --auto-zoom --fullscreen'
    alias eogz 'feh -z -D 5 --scale-down --auto-zoom --fullscreen'

    alias torrent 'qbittorrent \!* &'
    alias tc torrentcheck

    alias music 'rhythmbox \!* &'

    alias valknut 'valknut &'
    alias dcpp valknut
    alias sound 'alsamixer -c 0'

    alias chrome 'google-chrome &'

    alias evince 'evince \!* &'
    alias vlcw '\vlc --no-qt-video-autoresize \!* &'
    alias vlc 'vlc \!* &'

    alias starthub 'sudo iptables -A INPUT -m state --state NEW -p {tcp,udp} --dport {1234,9176} -j ACCEPT; sudo service iptables restart; sudo opendchub'


# VPN

    #alias vpn_gld 'cd ~/.juniper_networks/network_connect/; sudo ./ncsvc -h connect.dreamworks.com     -u jjose -r RSA -L 1 -f outfile.cert     -p1234\!*'
    #alias vpn_pdi 'cd ~/.juniper_networks/network_connect/; sudo ./ncsvc -h connect.pdi.com            -u jjose -r RSA -L 1 -f outfile.pdi.cert -p1234\!*'
    #alias vpn_ddu 'cd ~/.juniper_networks/network_connect/; sudo ./ncsvc -h connect.ddu.dreamworks.com -u jjose -r RSA -L 1 -f outfile.ddu.cert -p1234\!*'

    alias vpn_gld 'cd ~/.juniper_networks/network_connect/; sudo ./ncsvc -h connect.dreamworks.com     -u jjose -r PingID -L 1 -f connect.dreamworks.com     -p pass'
    alias vpn_pdi 'cd ~/.juniper_networks/network_connect/; sudo ./ncsvc -h connect.pdi.com            -u jjose -r PingID -L 1 -f connect.pdi.com            -p pass'
    alias vpn_ddu 'cd ~/.juniper_networks/network_connect/; sudo ./ncsvc -h connect.ddu.dreamworks.com -u jjose -r PingID -L 1 -f connect.ddu.dreamworks.com -p pass'

    alias vpn_dwa vpn_gld
    alias ddu_vpn vpn_ddu
    alias dwa_vpn vpn_dwa
    alias gld_vpn vpn_gld
    alias pdi_vpn vpn_pdi

    alias highnut 'ssh jjose@highnut.ddu-india.com'
    alias highaid 'ssh jjose@highaid.ddu-india.com'
    alias js2coffee js2coffee -i4

    alias gitg 'git gui'
    alias gitk 'gitk --all'
    alias gitp 'git'
    alias gs 'git status'
    alias gc 'git commit -m'
    alias ga 'git add'
    alias gaa 'git add .'
    alias gd 'git diff'
    alias gp 'git push'

    alias foxit 'foxit \!* &'
    alias fox foxit

    alias vol 'alsamixer -c 0'

    alias play 'peerflix -a --vlc ""\!*""'
    alias cleantmp 'rm -rf /tmp/torrent-stream/*'

    alias touchpad_off 'synclient TouchpadOff=1'

    alias extract_audio ~/scripts/extract_audio.sh

    alias order 'ls -1 -t | xargs feh -D 5 --scale-down --auto-zoom --fullscreen'

    alias new 'find \!* | xargs ls -1tc | xargs feh -D 5 --scale-down --auto-zoom --fullscreen'

    # \mplayer -loop 0 -zoom ../webm/test/*mkv
    # "f" for fullscreen

    alias imgur-download '/usr/bin/python3 /home/jeffjose/scripts/imgur-album-downloader/imguralbum.py'

    alias skipper 'cd /run/user/1000/gvfs/smb-share:server=10.0.0.66,share=jeffjose'

# Palm detection
# syndaemon -i 1 -K -d

    alias update       'sudo apt update'

    alias firstrun     ~/dotfiles/firstrun
    alias setup     ~/dotfiles/setup
    alias updateall     ~/dotfiles/updateall.sh

    alias ubuntuupdate 'sudo do-release-upgrade -d'

    alias acads 'cd ~/Downloads/acads'
    alias windows 'cd /media/jeffjose/503AD7853AD7670E/Documents\ and\ Settings/jeffjose'

    alias pdfgrep 'pdfgrep \!*'
    alias pack pdfgrep



    alias gdebi 'sudo gdebi --non-interactive'
    alias deb gdebi
    alias debi gdebi

    #alias talks 'cd ~/talks'

    #alias uberwriter '/opt/extras.ubuntu.com/uberwriter/bin/uberwriter'

    #alias disk1 'cd /mnt/disk1'
    #alias disk2 'cd /mnt/disk2'

    alias d    'cd ~/Downloads'
    alias s    'cd ~/scripts'
    #alias c    'cd /mnt/disk2/coursera'
    #alias a    'cd ~/Downloads/acads'
    #alias tuts 'cd /mnt/disk1/tuts'
    #alias 2 'cd /mnt/disk2'
    #alias r 'cd /media/jeffjose/rico'
    alias p 'cd ~/scripts/personal-website'
    alias b 'cd ~/scripts/baby'
    alias f 'cd ~/scripts/personal-website/frontend'
    alias dot 'cd ~/dotfiles'
    alias px 'cd ~/scripts/redditpx'
    #alias dis 'cd ~/scripts/distributions'
    alias plex 'cd /mnt/monolith/Plex'

    alias updatedot 'dot; git pull; cd -'

    alias getaudio 'youtube-dl --extract-audio --audio-format mp3 --audio-quality 0 \!*'

    alias abs '~/scripts/abs'
    #alias expose '~/scripts/Expose/expose.sh'

    #alias tweet '~/scripts/tweet'
    #alias sense '~/scripts/sense'

    #alias www 'cd ~/scripts/jeffjose.github.io'

    alias screen 'scrn -c ~/.screen/default'

    alias ansible-update-all-hosts 'ansible-playbook ~/ansible/base.yml --ask-sudo-pass'

    #alias ar arandr /home/jeffjose/.screenlayout/3monitor.sh
    #alias xr /home/jeffjose/.screenlayout/3monitor.sh

    alias rsync rsync --progress

    alias signapk java -jar /home/jeffjose/scripts/apktool/signapk.jar /home/jeffjose/scripts//apktool/certificate.pem /home/jeffjose/scripts//apktool/key.pk8

    alias removepdfpassword 'qpdf --password=\!:2 --decrypt \!:1 `basename \!:1 .pdf`.nopw.pdf'

    #alias updatecoursera 'cd /mnt/disk2/coursera; coursera-dl *'

    alias sum md5sum
    alias easytag 'easytag .'

    alias ndebug 'ping -c 3 google.com -W 1; echo "\n-----------------\n"; traceroute google.com'

    #alias j 'cd ~/scripts/jeffjose.github.io'

    alias xit exit

    alias restartx 'sudo /sbin/init 3; sudo /sbin/init 5'
    alias ping8 'ping 8.8.8.8'

    alias youtubecast 'youtube-dl -o - \!* | castnow --quiet -'
    alias playcast youtubecast

    alias barracuda 'nmcli c up uuid b28a0282-4501-48f2-8fbf-aa2fd796a09f'

    alias gparted 'sudo gparted'

    #alias v 'cd ~/scripts/vuejs-tornado-seed'
    #alias puppy '~/scripts/puppy/puppy'

    alias msum md5sum

    alias yget 'youtube-dl'
    alias ygetc 'youtube-dlc'
    #alias y "'echo youtube-dl \'`xclip -o`\'; youtube-dl \'`xclip -o`\';'"

    #alias jj 'cd ~/scripts/jeffjose.github.io'

    alias df 'df --total -T'

    alias update-ubuntu 'updateall; install dist-upgrade; sudo do-release-upgrade -d'

    alias rsync 'rsync --stats --progress'
    alias rsync-cp 'rsync -avzh \!*'

    alias notes 'cat ~/notes'

    alias recent 'cat /tmp/cwdcmd_recent_dirs'

    alias xd meld

    alias diff colordiff

    #alias clean_newlines1 "vim -c '%s/\\n/\r/g' -c ':w' -c ':q' \!*"
    #alias clean_newlines2 "vim -c '%s/\\t/\ \ \ \ /g' -c ':w' -c ':q' \!*"
    #alias clean_newlines3 "vim -c '%s/\\r\\n/\r/g' -c ':w' -c ':q' \!*"
    #alias clean_newlines4 "vim -c '%s/\\n\\t/\r\ \ \ \ /g' -c ':w' -c ':q' \!*"

    #alias clean_newlines 'clean_newlines1 \!*; clean_newlines2 \!*; clean_newlines3 \!*; clean_newlines4 \!*;'

    alias android-studio '$HOME/Downloads/android-studio/bin/studio.sh'

    alias emulator-list-all 'emulator -list-avds'
    alias avd-clean 'rm -vrf ~/.android/avd/*.avd/userdata-qemu.img ~/.android/avd/*.avd/snapshots/'
    alias clean-avd avd-clean
    alias emulator-clean-avd avd-clean

    alias aa '$HOME/scripts/puppy/puppy \!* amp-analytics'

    alias puppy '~/scripts/puppy/puppy'

    if (-d /usr/lib/Shutter\ Encoder) then
      alias ffmpeg '/usr/lib/Shutter\ Encoder/usr/bin/Library/ffmpeg'
      alias ffplay '/usr/lib/Shutter\ Encoder/usr/bin/Library/ffprobe'
      alias ffprobe '/usr/lib/Shutter\ Encoder/usr/bin/Library/ffplay'
    endif

    alias extract_frame_from_video 'ffmpeg -ss \!:2 -t \!:2 -i \!:1 -vframes 1 \!:1.png'

    # Good quality, faster than 265
    alias convert_to_1080p_h264 'ffmpeg -hwaccel none -i \!* -vcodec libx264 -filter:v scale=-1:1080 -c:a copy \!*.h264.1080p.mkv'

    # Best quality, recommended to use. Might be slower than 264
    alias convert_to_1080p_h265 'ffmpeg -hwaccel none -i \!* -vcodec libx265 -filter:v scale=-1:1080 -c:a copy \!*.h265.1080p.mkv'

    alias convert_to_1080p_orig 'ffmpeg -i \!* -vf scale=-1:1080 -c:a copy \!*_1080p.mkv'

    # Produces bad quality, so dont use
    #alias convert_to_1080p_vp9 'ffmpeg -hwaccel none -i \!* -vcodec libvpx -speed 4 h264pix_fmt yuv420p -sws_flags bicubic -threads 0 -filter:v scale=-1:1080 -c:a copy \!*.vp9.1080p.mkv'

    alias cut_video 'ffmpeg -i \!:1 -ss \!:2 -to \!:3 -c copy \!:1_cut.mkv'

    # The following were got from shutter-encoder. Produces poor quality, so dont use
    #
    #alias convert2av1 'ffmpeg -hwaccel none -i \!* -map v -c:a libopus -ar 48k -b:a 192k -map a:0 -vcodec libsvtav1 -rc vbr -b:v 5000k -pix_fmt yuv420p -sws_flags bicubic -threads 0 -y \!*.av1.mkv'
    #alias convert2h264 'ffmpeg -hwaccel none -i \!* -map v -c:a aac -ar 48k -b:a 256k -map a:0 -c:v libx264 -profile:v high -level 5.1 -b:v 5000k -pix_fmt yuv420p -sws_flags bicubic -threads 0 -y \!*.h264.mp4'
    #alias convert2h265 'ffmpeg -hwaccel none -i \!* -map v -c:a aac -ar 48k -b:a 256k -map a:0 -c:v libx265 -profile:v main -level 5.1 -b:v 5000k -pix_fmt yuv420p -tag:v hvc1 -sws_flags bicubic -threads 0 -y \!*.h265.mp4'
    #alias convert2vp9 'ffmpeg -hwaccel none -i \!* -map v -c:a libopus -ar 48k -b:a 192k -map a:0 -vcodec libvpx-vp9 -speed 4 -b:v 5000k -pix_fmt yuv420p -sws_flags bicubic -threads 0 -y \!*.vp9.webm'


    alias curlmobile 'curl -H "User-Agent: Mozilla/5.0 (Linux; Android 5.1.1; Nexus 6 Build/LYZ28E) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.75 Mobile Safari/537.36"'
    alias curlgoogle "curl --user-agent 'Googlebot/2.1 (+http://www.google.com/bot.html)'"
    alias curlall 'rm /tmp/curl*; curl \!* > /tmp/curl.normal.html; curlmobile \!* > /tmp/curl.mobile.html; curlgoogle \!* > /tmp/curl.google.html;'
    alias curlsxg "rm /tmp/curl.sxg; curl -H 'Accept: application/signed-exchange;v=b3' -H 'AMP-Cache-Transform: google;v="'"1"'"' > /tmp/curl.sxg"

    alias google-chrome-sxg 'google-chrome-unstable --ignore-certificate-errors-spki-list=`openssl x509 -noout -pubkey -in /usr/local/google/home/jeffjose/scripts/amp-sxg/keys/cert.pem | openssl pkey -pubin -outform der | openssl dgst -sha256 -binary | base64` &'


    alias tos '~/thinkorswim/thinkorswim'

    alias castnow 'catt cast'

    alias fixgitconfig "sed -i 's#url = https://github.com/#url = git@github.com:#' .git/config; cat .git/config"
    alias gitfixconfig fixgitconfig

    alias git_setup_upstream 'git remote add upstream'
    alias git_sync_upstream_lose_changes 'git fetch upstream; git checkout master; git pull upstream master'
    alias git_fetch_upstream_lose_changes git_sync_upstream_lose_changes

    alias copysshkey 'xclip -sel clip < ~/.ssh/id_rsa.pub'

    alias jclone 'git clone https://github.com/jeffjose/\!*'
    alias clone 'cd ~/scripts; git clone \!*'

    alias reboot-bootloader systemctl reboot --firmware-setup

    alias pixel-pause 'sudo dbus-send --system --print-reply --dest=org.bluez /org/bluez/hci0/dev_3C_28_6D_F4_EF_25 org.bluez.MediaControl1.Pause'
    alias pixel-play 'sudo dbus-send --system --print-reply --dest=org.bluez /org/bluez/hci0/dev_3C_28_6D_F4_EF_25 org.bluez.MediaControl1.Play'

    alias pplay pixel-play
    alias ppause pixel-pause

    alias pixel-connect bash -c '"sudo bluetoothctl <<< '\''connect 3C:28:6D:F4:EF:25'\''"'
    alias pixel-disconnect bt-device -d "3C:28:6D:F4:EF:25"

    alias headphone-connect "bt-device -c 04:5D:4B:E9:CA:CC"
    alias headphone-disconnect "bt-device -d 04:5D:4B:E9:CA:CC"

    alias githubsshkey 'xclip -sel clip < ~/.ssh/id_rsa.pub; echo "Copied; Go to https://github.com/settings/keys"'

    alias scripts 'cat package.json | jq .scripts'
    alias sc scripts
    alias vpn_status 'curl -sS https://www.privateinternetaccess.com/ | grep --color=never -o "You are protected"'

    alias size "curl -s -o /dev/null -w 'Download size: %{size_download}\n'"

    alias UNDOCAPS 'setxkbmap -option'
    alias CAPS 'setxkbmap -option'
    alias undocaps 'setxkbmap -option'
    alias caps 'setxkbmap -option'

    alias os 'cat /etc/*-release; cat /etc/*_version'

    # 192.168.2.1 is both Asus (Banana) and pfSense (Banana Unleashed)
    alias iperf3wifi 'iperf3 -c 192.168.2.1'

    alias wm 'sudo wavemon'

    alias tshark_dhcp 'sudo tshark -Y "udp.port == 68"'
    # pfsense (freebsd)
    # tcpdump -i igb.33 udp port 68
    #

    alias tshark_mdns 'sudo tshark -Y mdns and ip.addr == 224.0.0.0/24'
    # pfsense (freebsd)
    # tcpdump -i igb2 -X net 224.0.0.0/4 and host 192.168.3.79 -X

    alias ppa-manager y-ppa-manager

    alias fixkeys 'sudo apt-key adv --refresh-keys --keyserver keyserver.ubuntu.com'

    # CLI replacements
    alias inotify entr
    #alias man tldr --theme ocean

    alias nmap-network nmap -sP 192.168.3.0/24
    alias nmap sudo nmap -v -T4 -A -O -Pn

    # sudo mount 192.168.3.4:/nfs/Plex /mnt/monolith/Plex
    alias mount-monolith 'sudo mount 192.168.3.4:/nfs/Plex /mnt/monolith/Plex'
    alias unmount-monolith 'sudo umount -f -l /mnt/monolith/Plex'

    alias mount-nomad 'sudo sshfs -o allow_other,default_permissons 192.168.3.20:/ /mnt/nomad/'

    #alias route-monolith 'sudo ip route add 192.168.3.0/24 dev wlp4s0'
    alias route-monolith 'sudo ip route add 192.168.3.0/24 via 192.168.2.1'

    alias read-key-prod-debug 'keytool -list -v -keystore ~/.android/prod-debug.keystore -alias key -storepass android -keypass android'
    alias read-key-prod-release 'echo "Run the command with right password.\n"; echo "Also see app/prod-key.properties\n"; echo keytool -list -v -keystore ~/.android/prod-release.keystore -alias key -storepass pass_var -keypass pass_var'

    alias read-key-dev-debug 'keytool -list -v -keystore ~/.android/dev-debug.keystore -alias key -storepass android -keypass android'
    alias read-key-dev-release 'echo "Run the command with right password.\n"; echo "Also see app/prod-key.properties\n"; echo keytool -list -v -keystore ~/.android/dev-release.keystore -alias key -storepass pass_var -keypass pass_var'

    alias apk-cert 'apksigner verify --print-certs'

    alias apk-pkg-name 'aapt dump badging \!* | grep --color=never -e "application-label:" -e "package: name"'

    alias y yarn

    alias tsrun ts-node

    # Also see https://www.freecodecamp.org/news/openssl-command-cheatsheet-b441be1e8c4a/
    #
    # Symmetric Encryption
    #
    # Encrypt and Decrypt using simple password.
    alias encrypt-password 'openssl enc -aes-256-cbc -md sha256 -pbkdf2 -iter 10000 -salt -a -e -in \!:1 -out \!:2'
    alias decrypt-password 'openssl enc -aes-256-cbc -md sha256 -pbkdf2 -iter 10000 -salt -a -d -in \!:1 -out \!:2'

    # Generate random base64
    alias random 'openssl rand -base64 \!* | tee /dev/$tty | xclip'
    alias r random
    alias rand random 6
    alias rand10 random 10

    #
    # Asymmetric Encryption
    #
    # Create private and public key pairs
    alias privatekey-create 'openssl genpkey -algorithm rsa -out private.key -pkeyopt rsa_keygen_bits:2048'
    alias publickey-create 'openssl rsa -pubout -in private.key -out public.key'

    # Create a x509 cert from private key.
    alias cert-create 'openssl req -new -x509 -sha256 -key private.key -out cert.pem -days 365'

    # Get the sha256 of a cert (you see this in Chrome)
    alias cert-sha256-fingerprint 'openssl x509 -sha256 -in \!:1 -noout -fingerprint | tee \!:1.sha256'

    alias cert-view 'openssl x509 -in \!:1 -text -noout'
    alias privatekey-view 'openssl rsa -text -noout -in \!:1'

    alias cert-get-modulus 'openssl x509 -noout -modulus -in \!:1'
    alias privatekey-get-modulus 'openssl rsa -noout -modulus -in \!:1'

    # Get a certificate of a website (google.com)
    alias cert-get-host 'echo "" | openssl s_client -host \!:1 -port 443 -showcerts | awk "/BEGIN CERT/ {p=1} ; p==1; /END CERT/ {p=0}" | tee \!:1.pem'

    # Extract the publickey from a x509
    alias cert-extract-publickey 'openssl x509 -pubkey -noout -in \!;1 | tee \!:1.public.key'

    #alias encrypt-publickey 'openssl rsautl -encrypt -inkey public.key -pubin -in \!:1 -out \!:2'
    #alias decrypt-privatekey 'openssl rsautl -decrypt -inkey private.key -in \!:1 -out \!:2'

    # Encrypt using a x509 certificate
    alias encrypt-cert 'openssl smime -encrypt -binary -aes-256-cbc -in \!:1 -out \!:2 -outform DER cert.pem'

    # Decrypt using private key
    alias decrypt-privatekey 'openssl smime -decrypt -binary -in \!:1 -out \!:2 -inform DER -inkey private.key'

    # Create a digest using privatekey
    alias digest-create-privatekey 'openssl dgst -sha512 -sign private.key -out \!:1.digest.sha512 \!:1'

    # Verify the digest using the public key
    alias digest-verify-publickey 'openssl dgst -sha512 -verify public.key -signature \!:1.digest.sha512 \!:1'

    alias h hostnamectl
    alias n networkctl

    alias k         'sudo kubectl'
    alias kube      'sudo kubectl'
    alias knode     'sudo kubectl get node'
    alias kpod      'sudo kubectl get pod'
    alias kdeploy   'sudo kubectl get deployment'
    alias kservice  'sudo kubectl get service'
    #alias kps       'sudo kubectl get node,service,deployment,pod'
    alias kps       'sudo kubectl get all'

    alias kdel      'sudo kubectl delete'
    alias kdescribe 'sudo kubectl describe'
    alias kcreate   'sudo kubectl create'
    alias kapply    'sudo kubectl apply'

    # Add alias
    # sudo ip address add 192.168.1.6/24 dev eno1
    #
    # Check
    # ip address show eno1
    #
    # Del alias
    # sudo ip address del 192.168.1.6/24 dev eno1

    # Google
    #
    #
    if (${HOST} =~ {"*corp.google.com"}) then
      source ~/.aliases.google.sh
    else
      # nothing
    endif
