[user]
	name  = Jeffrey Jose
	email = jeffjosejeff@gmail.com
[alias]
    ci = commit
    commti = commit
    commt = commit
    ad = add
    st = status
    psh = push
    ush = push
    sb = show-branch
    co = checkout
    one = log --pretty=oneline
    cached = diff --cached
    changelog = "!f() { r=${1:-`git describe --tags --abbrev=0`..HEAD}; echo Changelog for $r; git log --reverse --no-merges --format='* %s' $r; }; f"
    br = branch
    bra = branch -a
    la = log
    last = diff HEAD^ HEAD
    list = diff --name-status
    cam = commit -a -m
    cm = commit -m
    search = grep --color -n
    searchf = grep --name-only
    searchn = grep --files-without-match
    pul = pull
    pull = pull -v
    sdiff = stash show -p
    dif = diff
    stashall = stash --include-untracked

[color]
    diff = auto
    status = auto
    branch = auto

[color "branch"]
    local = yellow
    current = green
    remote = red
    plain = normal

[color "diff"]
    old = red
    new = green
    plain = normal
    meta = bold
    frag = cyan
    commit = yellow
    whitespace = normal red

[color "status"]
    updated   = green
    changed   = yellow

    added     = green
    modified  = yellow
    header    = normal
    untracked = red
    nobranch  = red

[color "grep"]
    match = normal

[color "interactive"]
    prompt = normal
    header = normal
    help = normal
    error = normal
[gui]
	fontdiff = -family \"liberation mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0

#[core]
#	gitproxy = /home/jjose/bin/git-proxy
#[http]
#	sslVerify = false
#	proxy = socks://highnut.ddu-india.com:9999
#[socks]
#	proxy = socks://highnut.ddu-india.com:9999
#[https]
#   proxy = socks://highnut.ddu-india.com:9999

[branch]
	autosetuprebase = always
[merge]
	tool = meld
[diff]
	tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
[guitool "mergetool"]
	cmd = meld
[http]
	postBuffer = 100M
    sslVerify = false
[credential]
	helper = cache --timeout=36000
[push]
	default = simple
	followTags = true

[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset %C(bold yellow)%GK%Creset
  graph = true
