General;%FileNameExtension%: %FileSize/String3% | %Duration/String3%
Video; | %Width%x%Height% | %DisplayAspectRatio/String% | %Format% %Format_Profile% |
Audio; %Channel(s)% CH | %Codec/String%
File_End;\n
