General;%CompleteName% * %FileSize/String3% * %Duration/String%
Video; |Video: %Width%x%Height% * %DisplayAspectRatio/String% * %Format% %Format_Profile%
Audio; |Audio: %Language/String% * %Channel(s)% CH * %Codec/String%
Text; |Sub: %Language/String% * %Codec%
File_End;\n
