[Unit]
Description=Sonarr Daemon
After=network.target

[Service]
User=jeffjose
Restart=on-failure
RestartSec=5
Type=simple
ExecStart=/usr/bin/mono --debug /opt/NzbDrone/NzbDrone.exe -nobrowser
TimeoutStopSec=20
KillMode=process

[Install]
WantedBy=multi-user.target
